In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Axim,GH,2021-10-21 14:10:50,4.8699,-2.2405,81.18,77,100,9.22
1,1,Savannah Bight,HN,2021-10-21 14:10:50,16.4500,-85.8500,86.05,78,78,14.70
2,2,Busselton,AU,2021-10-21 14:10:51,-33.6500,115.3333,53.10,84,67,6.85
3,3,Sioux Lookout,CA,2021-10-21 14:10:51,50.1001,-91.9170,29.68,70,33,7.81
4,4,Beloha,MG,2021-10-21 14:10:52,-25.1667,45.0500,69.49,60,49,13.44

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Axim,GH,2021-10-21 14:10:50,4.8699,-2.2405,81.18,77,100,9.22
1,1,Savannah Bight,HN,2021-10-21 14:10:50,16.4500,-85.8500,86.05,78,78,14.70
10,10,Sur,OM,2021-10-21 14:10:54,22.5667,59.5289,84.47,56,5,10.80
17,17,Acapulco,MX,2021-10-21 14:07:42,16.8634,-99.8901,82.22,83,40,0.00
20,20,Sulangan,PH,2021-10-21 14:10:58,11.1373,123.7228,84.25,74,100,7.83
25,25,Dingle,PH,2021-10-21 14:11:00,10.9995,122.6711,76.87,91,100,5.41
26,26,Atuona,PF,2021-10-21 14:11:01,-9.8000,-139.0333,76.93,80,12,18.57
32,32,Hilo,US,2021-10-21 14:06:11,19.7297,-155.0900,75.27,72,1,6.91
34,34,Honiara,SB,2021-10-21 14:11:05,-9.4333,159.9500,77.77,87,100,2.55
42,42,Butaritari,KI,2021-10-21 14:11:08,3.0707,172.7902,82.17,77,58,14.50

In [14]:
preferred_cities_df.count()

City_ID       184
City          184
Country       182
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [16]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0             Axim      GH     81.18   4.8699   -2.2405
1   Savannah Bight      HN     86.05  16.4500  -85.8500
10             Sur      OM     84.47  22.5667   59.5289
17        Acapulco      MX     82.22  16.8634  -99.8901
20        Sulangan      PH     84.25  11.1373  123.7228
25          Dingle      PH     76.87  10.9995  122.6711
26          Atuona      PF     76.93  -9.8000 -139.0333
32            Hilo      US     75.27  19.7297 -155.0900
34         Honiara      SB     77.77  -9.4333  159.9500
42      Butaritari      KI     82.17   3.0707  172.7902

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Axim,GH,81.18,4.8699,-2.2405,Axim Beach Resort And Spa
1,Savannah Bight,HN,86.05,16.4500,-85.8500,Villa on Dunbar Rock
10,Sur,OM,84.47,22.5667,59.5289,Sur Plaza Hotel
17,Acapulco,MX,82.22,16.8634,-99.8901,HS Hotsson Smart Acapulco
20,Sulangan,PH,84.25,11.1373,123.7228,Maia's Beach Resort
25,Dingle,PH,76.87,10.9995,122.6711,SEGAYA PROPERTY
26,Atuona,PF,76.93,-9.8000,-139.0333,Villa Enata
32,Hilo,US,75.27,19.7297,-155.0900,Hilo Hawaiian Hotel
34,Honiara,SB,77.77,-9.4333,159.9500,Heritage Park Hotel
42,Butaritari,KI,82.17,3.0707,172.7902,Isles Sunset Lodge

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))